.hero-container{
    width: 1160px;
    height: calc(100vh - 100px);
    margin:0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-container .avatar{
    flex:1;
    display: grid;
    place-items: center;
    position: relative;
}

.hero-container .avatar img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    z-index: 1;
}

.hero-container .avatar::before{
    content: '';
    height: 60%;
    width: 60%;
    display: block;
    position: absolute;
    bottom: -20px;
    left:50px;
    z-index: 0;
    /* border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb; */
    box-shadow: 
    5px 0 10px rgba(255, 255, 255, 0.1),  
    -5px 0 10px rgba(255, 255, 255, 0.1),  
    0 5px 10px rgba(0,0,0,0.1), 
    0 -5px 10px rgba(0,0,0,0.1);  
}

.hero-container .avatar::after{
    content: '';
    height: 60%;
    width: 60%;
    display: block;
    position: absolute;
    top: -20px;
    right:50px;
    z-index: 0;
    /* border-top: 1px solid #bbb;
    border-right: 1px solid #bbb; */
    box-shadow: 
    5px 0 10px rgba(255, 255, 255, 0.1),   
    -5px 0 10px rgba(255, 255, 255, 0.1),  
    0 5px 10px rgba(0,0,0,0.1),  
    0 -5px 10px rgba(0,0,0,0.1); 
}

.hero-container .details{
    flex: 1;
}

.hero-container .details .name{
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: bold;
    background: linear-gradient(to bottom, #5a5ac6, #f1e5f1); /* Define your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-container .details .desc{
    font-size: 18px;
    text-align: right;
    margin-right: 40px;
    color: #bbb;
}


@media (max-width: 600px) {
    .hero-container{
        width: 90vw;
        gap: 100px;
        flex-direction: column-reverse;
    }

    .hero-container .avatar img{
        height: 250px;
        width: 250px;
    }

    .hero-container .avatar::before,
    .hero-container .avatar::after{
        content: none;
    }

    .hero-container .details .name{
        font-size: 2rem;
        letter-spacing: 5px;
    }
    
    .hero-container .details .desc{
        font-size: 18px;
        text-align: right;
        color: #bbb;
        margin-right: 10px;
    }
  }
  