.hero-container{
    width: 1160px;
    height: calc(100vh - 100px);
    margin:0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.hero-container .avatar{
    height: 400px;
    width: 400px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.hero-container .avatar img{
    width: 100%;
    object-fit: cover;
}

.hero-container .details .name{
    font-size: 4rem;
    letter-spacing: 5px;
}

.hero-container .details .desc{
    font-size: 18px;
    text-align: right;
    color: #bbb;
}