.profile-container{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-container .first{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

.profile-container .first > img{
  width: 500px;
}

.profile-container .second{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 5%;
    background-color: #111;
    position: absolute;
    top: 0;
    right: 0;
}

.profile-container .second > p{
    text-align: justify;
    line-height: 30px;
}



@keyframes fade-out {
    0% {
        width: 100%;
      }
      99% {
        width: 50%;
      }
      100% {
        width: 50%;
      }
}

@media (max-width: 600px) {

  .profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .profile-container .first{
    display: none;
  }
  .profile-container .second{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: static;
}

}