.skills-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.skills-container > h1{
    font-size: 2.5rem;
}

.skills-container .skills {
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


@media (max-width: 600px) {
  .skills-container .skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}