.header-container{
    width: 1160px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .title{
    font-size: 16px;
}

.header-container .socials{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-container .socials a{
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 0;
    transition: all .3s ease;
}

.header-container .socials a::before{
    content: '';
    height: 0%;
    width: 100%;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 3px;
    transition: all .3s ease;
}


.header-container .socials a::after{
    content: '';
    height: 3px;
    width: 0%;
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
    border-radius: 2px;
    transition: all .3s ease;
}

.header-container .socials a:hover{
    color: #000;
}

.header-container .socials a:hover:nth-child(2){
    color: #fff;
    /* #0270ad */
}

.header-container .socials a:hover::before{
    height: 100%;
}

.header-container .socials a:hover:nth-child(2):before{
    height: 100%;
    background-color: #0270ad;
}

.header-container .socials a:hover::after{
    width: 100%;
}

@media (max-width: 600px) {
    .header-container{
        width: 90vw;
    }

    .header-container .socials a::before,
    .header-container .socials a::after
    {
        content: none;
    }

    .header-container .socials a:nth-child(1){
        color: #000;
        background-color: #fff;
    }
    .header-container .socials a:nth-child(2){
        color: #fff;
        background-color: #0270ad;
    }
  }
  